.contact-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block-end: 1rem;
}

.bgImg {
    position: relative;
}

.contact-bg {
    width: 100%;
    height: auto;
}

.contact {
    position: absolute;
    top: 5rem;
    transform: translateY(-50%);
    background: linear-gradient(0deg, rgba(0, 42, 84, 0.93), rgba(0, 42, 84, 0.93)),
     linear-gradient(149.05deg, #FFFFFF 2.18%, rgba(222, 222, 222, 0.13) 48.94%, rgba(131, 131, 131, 0.81) 98.72%);
    left: 0;
    width: 30.6rem;
    border-top-right-radius: 37px;
}
.contact h3{
    color: white;
}
.contact li{
    list-style-type: none;
    padding-bottom: 1rem;
}
.contact li a{
    list-style-type: none;   
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding-left: 20rem;
}
.contact img{
    width: 50px;
    height: 20px;
    padding-left: 10px;
}

.tags{
    display: flex;
}
.contact li a:hover{
    color: red;
}

@media (max-width:768px){
    .contact{
        width: 19.6rem;
    }
    .contact h3{
        font-size: 0.8rem;
    }
    .contact li a{
        padding-left: 10rem;
    }
}

