.footer-container{
    width: 100%;
    height: fit-content;
    position: relative;
    margin-block-end: 1rem;
    padding-block-end: 1rem;
}
.info a{
    display: none;
}
.support{
    background-color: rgb(246, 246, 246);
    padding-top: 1rem;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.bg-img{

    position: absolute;
    width: 100%;
    height: 250px;
    z-index: 3;
}
.information{
    position: absolute;
    display: flex;
    background: #002A54;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100vw;
    height: 85vh;
    z-index: 2;
    text-align: left;
}
.information p{
    color: white;
    padding-left: 0;
}
.info{
    width: 20vw;
    color: rgb(254, 254, 254);
    padding-top: 3rem;
    padding-left: 4rem;
}
#taxi{
    display: none;
}
.support-type{
    width: 55%;
    padding-left: 2rem;
}
.support-type p{
    color: #002A54;
    padding-left: 2rem;
}
.copyright{
    display: none;
}
.media-icons{
    display: none;
}
.media-heading{
    display: none;
}
.red-rate{
    display: none;
}
@media (max-width:768px){
    #support-img, #email-img{
        display: none;
    }
    .support{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .information p{
        display: none;
    }
    .information{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    #warehousing{
        display: none;
    }
    #taxi{
        display: initial;
        display: flex;
    }
    .info{
        display: flex;
        width: 100vw;
    }
    .info a{
        padding-left: 5rem;
        padding-top: 1rem;
        display: initial;
    }
    .info-link{
        padding: 2rem;
    }
    .media-block{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding-left: 3.5rem;
        }
    .media-heading{
        text-align: center;
        color: white;
        display: initial;
    }
    .media-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
    }
    .media-icons a{
        width: 35%;
    }
    .copyright{
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        color: white;
        font-weight: 400;
        
    }
    .white-rate{
        display: none;
    }
    .red-rate{
        display: initial;
    }
    .support-type p{
        display: none;
    }
    .support-type{
        width: 4rem;
        padding-left: 2rem;
    }
    #red-rate{
        border-radius: 2px solid black;
        box-shadow: #002A54;
    }
    
}