.new-bg img{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: linear-gradient(0deg, #D8D8D8, #D8D8D8),
    linear-gradient(0deg, #ED1B24, #ED1B24);
}


.container .new-cards{
    display: flex;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.new-bg h3{
    position: absolute;
    z-index: 3;
    top: 0;
}
.new-cards {
    position: absolute;
    z-index: 2;
}