.whySwift-container {
    /* height: fit-content; */
    height: 30rem;
    position: relative;
    width: 100%;
    background-color: #002A5412;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    padding-block-end: 11rem;
}
.text a{
    color: white;
    font-weight: 500;
    font-size: large;
    padding-left: 4rem;
}

.text{
    position: absolute;
    width: 42%;
    height: fit-content;
    min-height: 50%;
    border-radius: 21px;
    z-index: 5;
    top: 13rem;
    left: 2rem;
    background: linear-gradient(125.2deg, #002A54 1.56%, #002A54 49.23%, rgba(0, 42, 84, 0.89) 95.34%),
    linear-gradient(124.38deg, #FFFFFF 1.31%, rgba(255, 255, 255, 0.29) 45.19%, rgba(255, 255, 255, 0.54) 96.4%);
}
.text h1{
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
}
.text p{
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
}
.truck-img img{
    position: absolute;
    width: 94%;
    height: 98%;
    z-index: 4;
    top: 0rem;
    right: -1rem;
}
.text{
    font-size: 0.8em;
}
.bg-color{
    background-color:#ED1B24;
    position: relative;
    z-index: 1;
    height: 22rem;
    width: 100%;
    top: 11rem;
}
@media (max-width:768px) {
    .text{
        min-height: 15rem;
        position: absolute;
        width: 45%;
        border-radius: 18px;
        z-index: 5;
        top: 23rem;
        left: 1rem;
        background: linear-gradient(125.2deg, #002A54 1.56%, #002A54 49.23%, rgba(0, 42, 84, 0.89) 95.34%),
        linear-gradient(124.38deg, #FFFFFF 1.31%, rgba(255, 255, 255, 0.29) 45.19%, rgba(255, 255, 255, 0.54) 96.4%);
    }
    .text h1{
        font-size: 1rem;
        text-align: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .text p{
        font-size: 0.6rem;
        text-align: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .truck-img img{
        position: absolute;
        width: 85%;
        height: 45%;
        z-index: 4;
        top: 22rem;
        right: 0rem;
    }
    .bg-color{
        background-color:red;
        position: relative;
        z-index: -1;
        height: 12rem;
        width: 100%;
        top: 28rem;
    }   
    .container {
        height: 60vh;
    }
}